<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="get">
        <label for="">category</label>
        <select name="category" id="">
            <option value="personal"></option>
            <option value="work"></option>
            <option value="urgent"></option>

        </select>

        <button type="submit">submit</button>





    </form>

    {{tasks}}
</body>
</html>